<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>fydor chat</title>
</head>
<body>
	<div class="login">
      <div class="form">
        <h3 class="title">为自己取个名字吧!~~~~~</h3>
        <input class="usernameInput" type="text" maxlength="14" />
    	<div class="comfirm">确定</div>
      </div>
	</div>
	<header><div class="header">欢迎来到001聊天室</div></header>
	<div id="container">
		<aside id="aside-left" style="display: none;">
			<div class="headportrait">
				<img src="../imgs/headportrait.jpg" alt="">
				<p class="nick_name">我原来的昵称是啥</p>
			</div>
			<ul class="operator">
				<li>操作</li>
				<li>操作</li>
				<li>操作</li>
			</ul>
			<div class="logout">
				<span>退出</span>
			</div>
		</aside>
		<aside id="aside-right">
			<div class="aside-top">
				<div class="content">
					<ul class="talk">
						<!-- <li class="time">2016-11-1 13:42:43</li> -->
						<!-- <li class="other-talk">
							<div class="minihead" >
								<img src="../imgs/headportrait.jpg">
							</div>
							<p class="ctx">hello</p>
						</li>
						<li class="my-talk">
							<div class="minihead">
								<img src="../imgs/headportrait.jpg">
							</div>
							<p class="ctx">
								nice to meet yousfdfaadf <br>afdsdfdsf <br>sljdflsld
							</p>
						</li> -->
					</ul>
				</div>
				<div class="show-person">
					<h3>当前在线人</h3>
					<img data-src="../imgs/headportrait.jpg" alt="">
					<ul class="online-persons">
						<!-- <li class="ps">
								<img src="../imgs/headportrait.jpg" alt="">
								<span class="nick">我原来的昵称是啥来着</span>
						</li> -->
					</ul>
					<!-- <div class="page">
						<span class="up">上一页</span>
						<span class="down">下一页</span>
					</div> -->
				</div> 
			</div>
			<div class="form">
				<div class="toolbar">
					<ul>
						<li><input type="color" class="color"></li>
						<li>
							<input type="button" value="emoji" class="emoji-btn">
						</li>
					</ul>
					<div class="emoji">
					</div>
				</div>
				<div class="ipt">
					<textarea placeholder="输入发送内容" id="m"></textarea>
					<span class="submit" style="background:#fafafa">发送1</span>
				</div>
			</div>
		</aside>
	</div>
</body>
</html>


#!/bin/sh

git filter-branch --env-filter '

OLD_EMAIL="1015611364@qq.com"
CORRECT_NAME="fygethub"
CORRECT_EMAIL="fydor@foxmail.com"

if [ "$GIT_COMMITTER_EMAIL" = "$OLD_EMAIL" ]
then
export GIT_COMMITTER_NAME="$CORRECT_NAME"
export GIT_COMMITTER_EMAIL="$CORRECT_EMAIL"
fi
if [ "$GIT_AUTHOR_EMAIL" = "$OLD_EMAIL" ]
then
export GIT_AUTHOR_NAME="$CORRECT_NAME"
export GIT_AUTHOR_EMAIL="$CORRECT_EMAIL"
fi
' --tag-name-filter cat -- --branches --tags